<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="625c18f3-1039-441a-b28c-02c07a71fa38" Publisher="CN=billchi" Version="0.7.1.0" />
  <Properties>
    <DisplayName>SgfEdWin8</DisplayName>
    <PublisherDisplayName>billchi</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SgfEdWin8.App">
      <VisualElements DisplayName="SgfEdWin8" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="SgfEdWin8" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>